<!-- BOARD SECTION -->
<script type="text/javascript">
    RED.nodes.registerType('relaymodule',{
        category: 'config',
        defaults: {
            bus: { value:1, required: true },
            addr: { value:"0x20", required:true }
        },
        label: function() {
            return this.addr;
        }
	
    });
</script>

<script type="text/x-red" data-template-name="relaymodule">
	<div class="form-row">
		<label for="node-config-input-addr"><i class="icon-bookmark"></i>I2C address</label>
		<select type="text" id="node-config-input-addr" style="width:70px;">
            <option value="0x20">0x20</option>
            <option value="0x21">0x21</option>
            <option value="0x22">0x22</option>
            <option value="0x23">0x23</option>
            <option value="0x24">0x24</option>
            <option value="0x25">0x25</option>
            <option value="0x26">0x26</option>
            <option value="0x27">0x27</option>
        </select>
	</div>     
	<div class="form-row">
		<label for="node-config-input-bus"><i class="icon-bookmark"></i>I2C bus</label>
        <input type="number" id="node-config-input-bus">
	</div>     
 </script>   

<!-- CHANNEL SECTION -->   
    
 <script type="text/javascript">
RED.nodes.registerType('relaychannel',{
	category: 'output',
	color: '#a6bbcf',
	defaults: {
		name: { value: "" },
		module: { type: "relaymodule", required: true },
		channel: { required: true },
	},
	inputs: 1,
	outputs: 1,
	icon: "file.png",
	label: function() {
		return this.name||"relaychannel";
	}
});
</script>


<script type="text/x-red" data-template-name="relaychannel">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	<div class="form-row">
		<label for="node-input-module"><i class="fa fa-globe"></i> Module</label>
		<input type="text" id="node-input-module">
	</div>
	<div class="form-row">
		<label for="node-input-channel"><i class="icon-tag"></i> Channel</label>
		<input type="number" id="node-input-channel" placeholder="Channel">
	</div>
</script>

<script type="text/x-red" data-help-name="relaychannel">
	<p> The relayboard node manages the relay board (all 8 output channels)</p>
	<p> The message to the output requires a payload. If the payload is true then it turns on</p>
	<p> Topic (and any other part) is ignored</p>
</script>
